{% extends 'libre_authors/base.html' %}
{% block title %}LAD LIBRARY{% endblock title %}
{% block header %}BOOKS{% endblock header %}
{% block content %}
    <ul>
        {% for book in books %}
            <li>
{#                <ul><a href="{{ book.get_absolute_url }}">Read book</a> {{ book.author }} - {{ book.title }}</ul>#}
                <ul>{{ book.author }} - <a href="{{ book.get_absolute_url }}">{{ book.title }}</a></ul>
{#                <p>{{ book.content|truncatewords:20 }}</p>#}
                {#                <p><a href="{% url 'book' book.id %}">Read book</a></p>#}
{#                <p><a href="{{ book.get_absolute_url }}">Read book</a></p>#}
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            </li>

        {% endfor %}
    </ul>
{% endblock content %}